<footer>
	<ul>
		<li><a href="#">Menu</a></li>
		<li><a href="#">Nos cafés</a></li>
		<li><a href="#">Nos Cookies</a></li>
		<li><a href="#">ArtCoffee</a></li>
	</ul>
	<p><a href="#">Mentions légales</a></p>
	<p><a href="#">Mocha Café - 2018</a></p>
</footer>
