<nav>
	<ul>
		<li><a href="#">Menu</a></li>
		<li><a href="#">Nos cafés</a></li>
		<li><a href="#">Nos Cookies</a></li>
		<li><a href="#">ArtCoffee</a></li>
	</ul>
	<div id="zoneHamburger">
		<span id="hamburger"></span>
	</div>
</nav>
