<section id="topbar">
	<div id="centrage">
		<div id="note">
			<p>-50% sur l'addition à l'occasion de la journée de l'amitié !</p>
			<p>Rendez-vous le 6 mai dans nos cafés !</p>
			<i id="croix" class="fas fa-times"></i>
		</div>
		<div id="client">
			<p><a href="#">Mon compte</a></p>
			<p><a href="#"><i class="fas fa-coffee"></i> Panier</a></p>
		</div>
	</div>
</section>
