body{
	margin: 0;
	background-color: white;
	font-family: 'Roboto Slab', 'Arial';
}

a{
	text-decoration: none;
	color: white;
}

/**********/
/* TopBar */
/**********/

/* Dans mBasic.css */

/********************/
/* Image principale */
/********************/

header > img{
	width: 100vw;
}

/********/
/* Menu */
/********/

/* Dans mBasic.css */

/**********************/
/* Contenu de la page */
/**********************/

hr{
	background-color: #e6e6e6;
	margin: 0 1.2em;
	height: 2px;
	border: none;
}

/********************/
#partieUne{
	background-color: white;
	padding: 2.5em 1.2em;
}
#grainsOrdi{
	display: none;
}
.imgTexte img{
	width: 100%;
}
.imgTexte > h1{
	margin-top: 0;
	font-size: 1.1em;
}
.imgTexte a{
	color: black;
	font-weight: bold;
	text-align: center;
	display: block;
}

/********************/
#partieDeux{
	background-color: white;
	padding: 2.5em 1.2em;
}
#slogan{
	text-align: center;
	margin-bottom: 1.5em;
}
#slogan > p{
	margin: 0;
	font-weight: bolder;
	font-size: 2.5em;
	line-height: 1;
}
#slogan > p:last-child{
	color: #aa7b51;
}

#texte{
	text-align: center;
}
#texte > p{
	margin-top: 2em;
}

#decouvrez{
	background-color: #aa7b51;
	color: white;
	font-weight: bold;
	font-size: 1.3em;
	padding: 0.5em 1em;
}

/********************/
#partieTrois{
	background-color: white;
	padding: 2.5em 1.2em;
}
.imgTexte > h2{
	margin-top: 0;
	font-size: 1em;
}

/**********/
/* Footer */
/**********/

/* Dans mBasic.css */
