/**********/
/* TopBar */
/**********/

#topbar{
	background-color: #553019;
	color: white;
	padding: 0;
	margin: 0;
}
#topbar p{
	margin: 0;
	padding: 0.1em;
}

/* notifications */
#topbar > #centrage > #note{
	background-color: #aa7b51;
	font-weight: bold;
	padding: 0.5em;
	position: relative;
}
#topbar > #centrage > #note > p{
	max-width: 88vw;
	font-size: 0.8em;
}
#topbar > #centrage > #note > i{
	position: absolute;
	right: 2vw;
	top: 2vw;
	font-size: 1.8em;
	cursor: pointer;
}

/* Partie pour le client */
#topbar > #centrage > #client{
	display: flex;
	justify-content: center;
	font-size: 1.2em;
	padding: 0.7em;
}
#topbar > #centrage > #client > p{
	padding: 0.1em 1.5em;
}

/********/
/* Menu */
/********/

nav{
	background-color: #aa7b51;
	text-align: center;
	color: white;
	padding: 0.2em;
	font-size: 1.5em;
	position: relative;
	height: 3em;
	transition-duration: 0.5s;
}
nav ul{
	padding: 0;
	display: flex;
	flex-direction: column;
}
nav li{
	list-style-type: none;
	opacity: 0;
	transition-duration: 0.4s;
}
nav li:first-child{
	opacity: 1;
}

/* la classe qui agrandit la nav */
.ouvert{
	height: 7em;
}
.ouvert li{
	opacity: 1;
}
.ouvert li:nth-child(2){
	transition-delay: 0.1s;
}
.ouvert li:nth-child(3){
	transition-delay: 0.3s;
}
.ouvert li:nth-child(4){
	transition-delay: 0.5s;
}

/* Bouton du menu */
#zoneHamburger{
	position: absolute;
	width: 50px;
	height: 38px;
	right: 1.5em;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}
#hamburger{
	position: absolute;
	left: 0;
	top: calc(50% - 3px);
	background-color: white;
	width: 50px;
	height: 6px;
	transition-duration: 0.2s;
	border-radius: 2px;
}
#hamburger:before{
	background-color: white;
	position: absolute;
	top: -15px;
	right:0;
	content:'';
	width: 50px;
	height: 6px;
	transition-duration: 0.5s;
	border-radius: 2px;
}
#hamburger:after{
	background-color: white;
	position: absolute;
	top: 15px;
	right:0;
	content:'';
	width: 50px;
	height: 6px;
	transition-duration: 0.5s;
	border-radius: 2px;
}

/* La classe change la forme du menu */
.ouvert #hamburger{
	background-color: #ffffff00 !important;
}
.ouvert #hamburger:before{
	top: 0 !important;
	transform: rotate(50deg);
}
.ouvert #hamburger:after{
	top: 0 !important;
	transform: rotate(-50deg);
}

/**********/
/* Footer */
/**********/

footer{
	background-color: #aa7b51;
	text-align: center;
	color: white;
	padding: 0.5em;
}
footer > ul{
	margin: 0;
	padding-left: 0;
	display: flex;
	flex-direction: column;
}
footer li{
	list-style-type: none;
	padding: 0.7em;
}
footer > p{
	font-size: 0.8em;
	padding: 0.7em;
	margin: 0;
}
