/**********/
/* TopBar */
/**********/

#topbar > #centrage{
	max-width: 1200px;
	margin: auto;
	display: flex;
}
#topbar p{
	font-size: 0.9em !important;
	display: flex;
}

#topbar > #centrage > #note{
	background-color: inherit;
	display: flex;
}
#topbar > #centrage > #note > p{
	margin: auto;
}
#client{
	margin-left: auto;
}
#client a:hover{
	color: #aa7b51;
}

#croix{
	display: none;
}

/********/
/* Menu */
/********/

nav{
	max-width: 1200px;
	margin: auto;
	height: auto;
}
nav ul{
	flex-direction: row;
	justify-content: center;
}
nav li{
	opacity: 1;
	margin: 0 1em;
}
nav li:hover > a{
	color: #d5d5d5;
}

#zoneHamburger{
	display: none;
}

/**********/
/* Footer */
/**********/

footer > ul{
	justify-content: center;
	flex-direction: row;
}
footer > p{
	display: inline-block;
}
footer > p:hover > a{
	color: #d5d5d5;
	text-decoration: underline;
}
footer li:hover > a{
	color: #d5d5d5;
	text-decoration: underline;
}
