body{
	background-color: #c7b299;
}
*{
	box-sizing: border-box;
}

/**********/
/* TopBar */
/**********/

/* Dans oBasic.css */

/********************/
/* Image principale */
/********************/

header{
	background-color: white;
	display: flex;
	justify-content: center;
	max-width: 1200px;
	margin: auto;
}
header > img{
	max-width: 500px;
	max-height: 294px;
}

/********/
/* Menu */
/********/

/* Dans iBasic.css */

/**********************/
/* Contenu de la page */
/**********************/

hr{
	max-width: 1200px;
	margin: auto;
}

/********************/
#partieUne{
	max-width: 1200px;
	margin: auto;
	display: flex;
	padding: 2em 1.2em;
}
#grainsOrdi{
	display: none;
}
#partieUne > div{
	width: 50%;
	padding: 1em;
}

.imgTexte > h1 > a:hover{
	text-decoration: underline;
}

/********************/
#partieDeux{
	max-width: 1200px;
	margin: auto;
	display: flex;
	padding: 2em 1.2em;
}
#slogan{
	width: 50%;
	margin: auto;
	padding: 1em;
}
#slogan > p{
	font-size: 3.5em;
}
#texte{
	width: 50%;
	text-align: left;
	padding: 1em;
}
#decouvrez{
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	margin: 0 1em;
}
#decouvrez:hover{
	background-color: white;
	border: solid #aa7b51 3px;
	color: #aa7b51;
	padding: 0.5em 1.9em;
	margin: 0;
	letter-spacing: 0.05em;
}

/********************/
#partieTrois{
	max-width: 1200px;
	margin: auto;
	display: flex;
	padding: 2em 1.2em;
}
.imgTexte{
	width: 33%;
	padding: 1em;
}
.imgTexte > h2 > a:hover{
	text-decoration: underline;
}

/**********/
/* Footer */
/**********/

/* Dans oBasic.css */
